<script>
  document.addEventListener('DOMContentLoaded', function () {
    Shopify.Checkout.OrderSummary.addContentBox(
      '<h2>CUSTOM_TITLE_HERE</h2>',
      '<p>CUSTOM_TEXT_HERE</p>',
      '<p>CUSTOM_TEXT_HERE</p>'
    );
  });
</script>
