<div class="cart-icon">
  <i class="fa fa-shopping-cart"></i>
  <span class="badgexyz">{{ cart.item_count }}</span>
</div>
<style>
  .cart-icon {
    position: relative;
    display: inline-block;
  }

  .badgexyz {
    /* content: attr(value);     */
    position: absolute;
    top: -7px;
    right: -5px;
    padding: 0px 7px;
    border-radius: 50%;
    /* background-color: rgb(0, 0, 0); */
    color: black;
    width: 10px;
    height: 10px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
