.form-container {
  margin: 10px auto 0 !important;
  max-width: 600px;
}
.form-container1 {
  margin: 100px auto 0;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
